<h1>views/searches/index.html.erb</h1>
<form action="/searches/1" method="get">

  <label>Results per Page</label>
  <input type="text" name="rpp"/>
  <br>
  <label>Search Twitter</label>
  <input type="text" name="q"/>
  <input type="submit" name="submit" value="search"/>
</form>
