<h1>You searched for <%= params[:q] %></h1>

<pre>
  <%= @results.inspect %>
  </pre>

<ol>
  <% @results['results'].each do |r| %>
    <li><%= r['from_user'] %>... <%= r['text'] %></li>
    <%end%>
 </ol>
