// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 28px;
  color: red;
}

li {
  color: #0000ff;
}

p em, ul em {
  text-decoration: line-through;
}
